<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/static/firstapp/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header></header>
    <main>
        <div class="user__list">
            {% for user in ctx_users %}

                <div class="user__info">
                    <h1>USER</h1>
                    <div class="info">
                        <span id="user_name">{{user.first_name}} {{user.last_name}}</span>
                        <br> Login: {{user.username}} 
                        <br> Role: 
                        <span id="role">{% if user.is_superuser %}Admin{% else %}User{% endif %}</span>
                    </div>
                    <a class="edit" href="{% url 'page_show' user.id %}" role="button">Show</a>
                    <a class="delete" href="{% url 'page_delete' %}" role="button">Delete</a>
                </div>

            {% endfor %}
        </div>
    </main>
        
    <script src="/static/firstapp/js/app.js"></script>
</body>